html {
  font-family: 'Lobster', cursive;
  height: 100%;
  margin: 0px;
  width: 100%;
}
body {
  height: 100%;
  margin: 0px;
  width: 100%;
}
.main-header {
  align-items: center;
  border-bottom: 1px solid #2E2F2F;
  display: flex;
  height: 10%;
  justify-content: space-around;
  width: 100%;
}
.user-info {
  font-size: 1.5em;
  margin-left: 10%;
}
.button-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  width: 30%;
}
h1{
  color: #2E2F2F;
  cursor: default;
}
button {
  border: 0px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 20px;
  height: 90%;
  outline: none;
}
.navButton:hover,
.cook-btn:hover {
  background-color: #2E2F2F;
  color: white;
  outline: none;
  transition: background-color 1.25s;
}
main {
  height: 90%;
  width: 100%;
}
.img-container {
  display: flex;
  height: 60%;
  justify-content: center;
  margin-bottom: 5%;
  margin-top: 5%;
  width: 100%;
}
.home-img {
  border-radius: 3px;
  box-shadow: 0px 2px 6px #2E2F2F;
  display: flex;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  width: 50%;
}
.recipe-header-container {
  align-items: center;
  background-color: #2E2F2F;
  display: flex;
  height: 12%;
  justify-content: center;
}
.recipe-header,
.recipe-instructions-header,
.recipe-search-header {
  color: white;
  font-size: 2em;
  font-size: 2em;
}
.recipe-card {
  border-radius: 3px;
  box-shadow: 0px 2px 6px #2E2F2F;
  color: #2E2F2F;
  height: 400px;
  margin: 3%;
  width: 20%;
}
.recipe-card:hover {
  border-radius: 3px;
  box-shadow: 0px 4px 8px #2E2F2F;
  color: #2E2F2F;
  height: 402px;
  margin: 2.84%;
  width: 20.26%;
}
.recipe-name{
  color: #2E2F2F;
  cursor: default;
  font-size: 16px;
}
.name-container {
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #2E2F2F;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: flex;
  font-size: 20px;
  height: 19%;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.recipe-img {
  border-bottom: 1px solid #2E2F2F;
  height: 65%;
  object-fit: cover;
  width: 100%;
}
.favorite-img {
  opacity: .9;
  width: 20px;
}
.favorite-img:hover {
  font-weight: bold;
  opacity: 1;
  width: 21px;
}
.add-recipe-img {
  opacity: .9;
  width: 20px;
}
.add-recipe-img:hover {
  font-weight: bold;
  opacity: 1;
  width: 21px;
}
.add-recipe-button {
  align-items: center;
  display: flex;
  justify-content: center;
}
.added-tag {
  margin: 0px;
}
.card-button-container {
  align-items: center;
  background-color: white;
  display: flex;
  display: flex;
  height: 14%;
  height: 14%;
  justify-content: space-around;
  justify-content: space-around;
  width: 100%;
  width: 100%;
}

.all-cards,
.favs-cards,
.added-cards,
.recipe-matches {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.trash-icon {
  width: 20px;;
}

.intructions-card{
  background: #f4f4f4;
}

.saved{
  color: #f4f4f4;
  font-size: 12px;
}

.fav{
  color: #f4f4f4;
  font-size: 16px;
}

.instructions-btn {
  align-items: center;
  background-color: #2E2F2F;
  border-radius: 50%;
  box-shadow: 0px 2px 3px grey;
  display: flex;
  height: 76%;
  justify-content: center;
  opacity: 0.9;
  width: 75%;
}

.instructions-btn:hover{
  box-shadow: 0px 3px 4px gray;
  cursor: pointer;
  opacity: 1;
  width: 77%;
}

.recipe-instructions {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  height: 80%;
  margin-top: 5%;
  overflow: scroll;
  padding-left: 5%;
  width: 95%;
}

#step-span{
  font-size: 24px;
}

.cook-btn {
  background-color: #f4f4f4;
  box-shadow: 0px 2px 6px #2E2F2F;
  font-family: 'Lobster', cursive;
  font-size: 20px;
  height: 10%;
  width: 17%;
}

.instruction-step {
  background-color: white;
  width: 95%;
}

.needed-list {
  background-color: white;
  border: 2px solid black;
  border-radius: 3px;
  box-shadow: 0px 2px 6px #2E2F2F;
  margin-bottom: 2%;
  margin-top: 2%;
  opacity: 0.7;
  padding: 2%;
  width: 35%;
}

.search-container {
  align-items: center;
  display: inline-flex;
  height: 40%;
  justify-content: center;
  margin-left: 12%;
  width: 25%;
}

.search-btn {
  border: 0px;
  cursor: pointer;
  height: 113%;
  margin-right: 0px;
  outline: none;
  padding: 0px;
  width: 13%;
}

.search-input {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 1.5em;
  height: 100%;
  margin-left: 0%;
  outline: none;
  padding-left: 10px;
  width: 90%;
}

.search-icon {
  background-color: lightgray;
  border-bottom-left-radius: 4px;
  border-top: 1px solid grey;
  border-top-left-radius: 4px;
  height: 100%;
  width: 100%
}

.categories {
  margin-right: 2%;
  outline: none;
}
